.contenedor {
    max-width: 100%;
    margin: irem auto;
    display: flex;
    flex-wrap: wrap;
}

.subContenedor {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: irem auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    order: 0;
    flex: 1 1 100%;
}


/* ------- */

header a {
    flex: 0 1 100%;
}

header a img {
    width: 80%;
    display: flex;
    margin: auto;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li a {
    display: block;
    background-color: #cc6633;
    color: white;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    order: 4;
    flex: 1 1 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.top,
.botton {
    flex: 1 1 100%;
}

.btnOrange {
    background-color: #cc6633;
    color: black;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: none;
}

.bg-black {
    background-color: black;
}

.titulo {
    color: #cc6633;
}

#incioSesion {
    width: 50%;
}

#redSocialSeccion {
    background-color: black;
}

div {
    text-align: center;
    align-content: center
}

.seccion {
    flex: 1 1 100%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header a img {
        margin: auto;
        display: flex;
        margin-bottom: 1rem;
    }
    header nav {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 568px) {
    .contenido {
        flex: 1 1 100%;
    }
    header nav ul {
        flex-direction: column;
        flex: 1 1 100%;
        text-align: center;
    }
    header {
        display: block;
    }
}