.seccion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contenedor {
    max-width: 100%;
    height: 100%;
    margin: irem auto;
    display: flex;
    flex-wrap: wrap;
}

.centrar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.centrarOneScreen {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.cenVer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cenHor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom,
.top {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


/* nav var */

header a img {
    width: 60%;
    display: flex;
    margin: auto;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li a {
    display: block;
    background-color: #cc6633;
    color: white;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    text-decoration: none;
}

.imgContainer {
    width: 100%;
    margin: 5px;
}

.imgContaineri {
    width: 70%;
    margin: 5px;
}

#udcIndex {
    background-image: url("file:///udcCampus.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* fondon negro */

.bg-black {
    background-color: black;
}

.txt-black {
    color: black;
}

.txt-white {
    color: white !important;
}

.titulo {
    color: #cc6633;
}

.txt-align {
    text-align: center;
}

.upDown {
    font-size: 2em;
    margin: 0.25em 0.5em 0em 0em;
}

.btnOrange {
    background-color: #cc6633;
    color: black;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: none;
    width: 20em;
}

.thead-orange {
    background-color: #cc6633;
}

.h-120px {
    height: 120px;
}

.h-90px {
    height: 89px;
}

.w-35 {
    width: 35% !important;
}

.imgIcon {
    height: 25px;
}

.mr-btm-5px {
    margin: 5px 0px 5px 0px;
}

.br-rd {
    border-radius: 15px;
}

.spacebtw {
    justify-content: space-evenly;
}

#opciones {
    width: 40%;
    height: 65vh;
}

#redSocialSeccion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20%;
}

#redSocialSeccion img {
    height: 75%;
    margin: 0 5px 0 5px;
}


/* ________________________________________________________*/

@media (max-width: 1024px)
/*x768 iPad*/

{
    header {
        flex-direction: column;
    }
    header a img {
        margin: auto;
        display: flex;
        margin-bottom: 1rem;
    }
    header nav {
        display: flex;
        justify-content: center;
    }
    header a img {
        width: 50%;
        display: flex;
        margin: auto;
    }
    .imgContainer {
        width: 80%;
    }
    .display-2 {
        font-size: 4rem !important;
    }
    .ul {
        flex-direction: column;
    }
    .navbar {
        justify-content: center !important;
    }
}


/* ________________________________________________________ */

@media (max-width: 320px)
/*x568 iPhone*/

{
    header {
        flex-direction: column;
    }
    header nav {
        display: flex;
        justify-content: center;
    }
    header a img {
        width: 80%;
        display: flex;
        margin: auto;
    }
    h5 {
        font-size: 0.75rem !important;
    }
    h4 {
        font-size: 0.75rem !important;
    }
    .display-2 {
        font-size: 2.5rem !important;
    }
    .display-3 {
        font-size: 2.5rem !important;
    }
    .display-4 {
        font-size: 1.2rem !important;
    }
    .ul {
        flex-direction: column;
    }
    .navbar {
        justify-content: center !important;
    }
    .btnOrange {
        width: 13em;
    }
    .imgContaineri {
        width: 100%;
        margin: 5px;
    }
    .w-100 {
        width: 70%!important;
    }
    .wop {
        width: 70%;
    }
    .h-120px {
        height: 50px;
    }
    .h-90px {
        height: 40px;
    }
    h2 {
        font-size: 1rem !important;
    }
    h1 {
        font-size: 1.5rem !important;
    }
}